@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

h1, h2,h4, p {
    text-align: center;
}
body {
    /* text-align: center; */
    margin-top: 5%;
}

.headings {
    font-family: 'Playfair Display', serif;
}
.des{
    margin: 40px;
}
.finger{
    cursor: pointer;
}
.mailer{
    margin: 0 auto;
    padding-bottom: 30px;
}
li{
    list-style: none;
}
.brixtonlady{
    min-width: 300px;
}

.accordion{width:500px; margin: 0 auto;}
.accordion-toggle {border-bottom: 1px solid #cccccc;cursor: pointer;margin: 0;padding: 10px 0;position: relative;}
.accordion-toggle.active:after{content:"";position:absolute;right:0;top:17px;width:0;height:0;border-bottom:5px solid #f00;border-left:5px solid rgba(0,0,0,0);border-right:5px solid rgba(0,0,0,0);}
.accordion-toggle:before{content:"";position:absolute;right:0;top:17px;width:0;height:0;border-top:5px solid #000;border-left:5px solid rgba(0,0,0,0);border-right:5px solid rgba(0,0,0,0);}
.accordion-toggle.active:before{display:none;}
.accordion-content {display: none;}
.accordion-toggle.active {color: #ff0000;}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none!important;
}

.card {
    /* border-radius: 10px!important;
    border-bottom: 5px solid #eee!important; */
    border: none !important;
}
.card-header{
    background-color: white;
}

.accordion-panel {
    text-align: center;
    display: block;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    border-left: none!important;
    border-right: none!important;
    border-top: none!important;
    box-shadow: none;
    border-radius: 10px;
}

.accordion-title  {
    text-transform: uppercase;
    font-weight: 100!important;
    padding: .75em!important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0!important;
}

.accordion-title>a:hover {
    text-decoration: none!important;
}

.accordion-content {
    margin: 0em 3em 3em 3em;
}

.divider {
    height: 3px;
    border-radius: 3px;
    margin: 0em 3em 3em 3em;
    background: #eee;
}

.services {
    padding: 10px 7%;
}

.panel-group{
    margin:0;
}

.panel{
    border:none;
    box-shadow:none;
}

.panel-heading{
    padding:0;
}


